:root {
  --background: #181f21;
  --sunset: #f2cc8f;
  --gold: #f2cc8f;
  --red: #f1604c;
  --dark_red: #9f3b2e;
  --white: #f8f8f8;
  --gray: #d9d9d980;
}

@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: var(--white);
}

body {
  background: var(--background) !important;
  gap: 32px;
}

div.container {
  padding: 0;
}

.golden-frame {
  display: flex;
  position: relative;
  justify-content: space-between;
  max-width: 1240px;
  max-height: 414px;
  min-width: 360px;
  min-height: 120px;
  flex-shrink: 0;
  border: 20px solid var(--gold);
  margin-top: 94px;
}

.top-image-wrapper {
  margin-left: 40px;
  position: relative;
  min-width: 80%;
  min-height: 100%;
}

.team-photo {
  position: absolute;
  left: 0;
  bottom: 0;
  flex-shrink: 0;
}

.rotated-text {
  position: absolute;
  right: -160px;
  top: 100px;
  width: 375px;
  height: 76px;
  flex-shrink: 0;
  color: var(--white);
  transform: rotate(-90deg);
}

.site-title {
  position: relative;
  margin: 48px 0;
  width: 55%;
}

.section-a h1 {
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 4.8px;
}

.section-a h3 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 4.35px;
}

.section-a h3 span {
  color: var(--gold);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 4.35px;
}

.golden-circle {
  position: absolute;
  right: -180px;
  top: -150px;
  z-index: -1;
}

.back-gold {
  width: 40px;
  height: 40px;
  background-color: var(--gold);
  border-radius: 50%;
}

.shop-btn {
  width: 212px;
  height: 40px;
  margin-bottom: 18px;
}

.shop-text {
  line-height: 0;
  margin: 0 5px;
  font-size: 20px;
  font-weight: 300;
}

.line {
  border: 1px solid #f8f8f8;
  opacity: 0.5;
}

.section-b h2 {
  margin-bottom: 1em;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 4.35px;
  background: var(
    --gold,
    linear-gradient(
      99deg,
      #f2cc8f 0.61%,
      #bb985f 20.03%,
      #feecc8 46.54%,
      #f2cc8f 55.54%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.suit-div {
  position: relative;
  width: fit-content !important;
}

.plus-btn {
  position: absolute;
  bottom: -20px;
  left: 44px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: var(--gold);
}

.suit-title-wrapper {
  position: absolute;
  top: -7px;
  left: 30px;
}

.suit-title {
  position: absolute;
  top: -5px;
  left: 41px;
  text-wrap: wrap;
  font-size: 7px;
  width: 40px;
  text-align: center ;
  line-height: 6.5px;
}

.suit {
  position: absolute;
  top: 38px;
  left: 28px;
}

.suit-name {
  position: absolute;
  bottom: -10px;
  left: 105px;
  font-size: 15px;
  font-weight: 700;  
}

.suit-price {
  position: absolute;
  bottom: -38px;
  left: 105px;
  font-size: 10px;
  font-weight: 500;  
}

@media only screen and (max-width: 576px) {
  .top-image-wrapper {
    margin-left: 20px;
  }
  .golden-frame {
    min-height: 110px;
    border-width: 8px;
    margin-top: 70px;
  }
  .rotated-text {
    font-size: 0.3em;
    right: -185px;
    top: -140px;
  }
  .site-title {
    margin: 25px 0;
  }
  .section-a h1 {
    font-size: 17px;
    letter-spacing: 1.2px;
  }
  .section-a h3,
  .section-a h3 span {
    font-size: 10px;
    letter-spacing: 1px;
  }
  .golden-circle {
    transform: scale(0.4);
    right: -230px;
    top: -220px;
  }
  .shop-btn {
    transform: scale(0.6);
  }
  .section-b h2 {
    font-size: 20px;
    text-align: center;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .golden-frame {
    min-height: 160px;
    border-width: 15px;
  }
  .rotated-text {
    font-size: 0.4em;
    right: -180px;
    top: -105px;
  }
  .section-a h1 {
    font-size: 25px;
    letter-spacing: 2.8px;
  }
  .site-title {
    margin: 28px 0;
  }
  .section-a h3,
  .section-a h3 span {
    font-size: 15px;
    letter-spacing: 2.35px;
  }
  .golden-circle {
    transform: scale(0.4);
    right: -230px;
    top: -220px;
  }
  .shop-btn {
    transform: scale(0.7);
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .golden-frame {
    min-height: 220px;
  }
  .rotated-text {
    font-size: 0.6em;
    right: -170px;
    top: -60px;
  }
  .section-a h1 {
    font-size: 35px;
    letter-spacing: 2.8px;
  }
  .section-a h3,
  .section-a h3 span {
    font-size: 20px;
    letter-spacing: 2.35px;
  }
  .golden-circle {
    transform: scale(0.5);
    right: -210px;
    top: -190px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .golden-frame {
    min-height: 300px;
    margin-top: 130px;
  }
  .rotated-text {
    font-size: 0.8em;
    right: -160px;
    top: 10px;
  }
  .section-a h1 {
    font-size: 45px;
    letter-spacing: 3.8px;
  }
  .section-a h3,
  .section-a h3 span {
    font-size: 25px;
    letter-spacing: 3.35px;
  }
  .golden-circle {
    transform: scale(0.6);
    right: -200px;
    top: -180px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .golden-frame {
    min-height: 350px;
    margin-top: 150px;
  }
  .rotated-text {
    right: -160px;
    top: 60px;
  }
  .section-a h1 {
    font-size: 50px;
    letter-spacing: 3.8px;
  }
  .section-a h3,
  .section-a h3 span {
    font-size: 30px;
    letter-spacing: 3.35px;
  }
}
@media only screen and (min-width: 1400px) {
  .golden-frame {
    min-height: 414px;
    margin-top: 180px;
  }
}
