:root {
  --background: #181f21;
  --sunset: #f2cc8f;
  --gold: #f2cc8f;
  --red: #f1604c;
  --dark_red: #9f3b2e;
  --white: #f8f8f8;
  --gray: #d9d9d980;
}

@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

body {
  background: var(--background) !important;
  gap: 32px;
}

.golden-frame {
  display: flex;
  position: relative;
  justify-content: space-between;
  max-width: 1240px;
  max-height: 414px;
  min-width: 360px;
  min-height: 120px;
  flex-shrink: 0;
  border: 20px solid var(--gold);
  margin-top: 94px;
}

.top-image-wrapper {
  margin-left: 40px;
  position: relative;
  min-width: 80%;
  min-height: 100%;
}

.team-photo {
  position: absolute;
  left: 0;
  bottom: 0;
  flex-shrink: 0;
}

.rotated-text {
  position: absolute;
  right: -160px;
  top: 100px;
  width: 375px;
  height: 76px;
  flex-shrink: 0;
  color: var(--white);
  transform: rotate(-90deg);
}

@media only screen and (max-width: 576px) {
  .top-image-wrapper {
    margin-left: 20px;
  }
  .golden-frame {
    min-height: 110px;
    border-width: 8px;
    margin-top: 70px;
  }
  .rotated-text {
    font-size: 0.3em;
    right: -185px;
    top: -140px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .golden-frame {
    min-height: 160px;
    border-width: 15px;
  }
  .rotated-text {
    font-size: 0.4em;
    right: -180px;
    top: -105px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .golden-frame {
    min-height: 220px;
  }
  .rotated-text {
    font-size: 0.6em;
    right: -170px;
    top: -60px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .golden-frame {
    min-height: 300px;
    margin-top: 130px;
  }
  .rotated-text {
    font-size: 0.8em;
    right: -160px;
    top: 10px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .golden-frame {
    min-height: 350px;
    margin-top: 150px;
  }
  .rotated-text {
    right: -160px;
    top: 60px;
  }
}
@media only screen and (min-width: 1400px) {
  .golden-frame {
    min-height: 414px;
    margin-top: 180px;
  }
}
